.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.n-left {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 2rem;
}
.n-name {
  font-size: 1.3rem;
}
.n-right {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.n-list {
  flex: 10;
}
.n-list > ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
}
.n-list > ul > a > li:hover {
  cursor: pointer;
  color: var(--yellow);
}
.n-button {
  flex: 2;
}
@media screen and (max-width: 480px) {
  .n-wrapper {
    gap: 1rem;
  }
  .n-list {
    display: none;
  }
}
