.testimanial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  gap: 20px 0;
}
.t-ItemInfo {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.t-ItemInfo > span:nth-of-type(1) {
  color: var(--gray);
  font-size: 2rem;
  font-weight: bold;
}
.t-ItemInfo > span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2rem;
  font-weight: bold;
}
.t-ItemInfo > span:nth-of-type(3) {
  color: var(--gray);
  font-size: 2rem;
  font-weight: bold;
}
.t-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.t-Item {
  width: 50%;
  height: 60%;
  background-color: white;
  padding: 20px;
  position: relative;
}
.t-Item::before {
  content: "";
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: linear-gradient(to left bottom, #c6ffdd, #fbd786, #f7797d);
  position: absolute;
  z-index: -1;
  box-shadow: var(--smboxShadow);
  border-radius: 5px;
}
.t-ItemWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem 0;
}
.t-ItemWrapper > img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}
.testimanial .swiper-slide {
  display: flex;
}
.swiper-pagination-bullet-active {
  background-color: var(--orange);
}

@media screen and (max-width: 480px) {
  .testimanial {
    margin-bottom: 8rem;
  }
  .t-ItemInfo > span:nth-of-type(1) {
    font-size: 1rem;
  }
  .t-ItemInfo > span:nth-of-type(2) {
    font-size: 1rem;
  }
  .t-ItemInfo > span:nth-of-type(3) {
    font-size: 1rem;
  }
  .t-Item {
    width: 90%;
    height: 100%;
  }
  .t-ItemWrapper {
    gap: 0.5rem 0;
  }
}
